@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
	margin: 0;
	font-family: Montserrat, sans-serif;
	/* color: #9193a8; */
	color: #fff;
	background-color: rgb(20, 21, 38);
}

section {
	margin-top: 360px;
}
