:root {
	--angle: 90deg;
	--scale: 3;
}

body {
	text-align: center
}

code {
	display: inline-block;
	max-width: calc(300px * var(--scale));
	padding: 0;
	line-height: 1.5;
	color: #ccc
}

.sc-gauge {
	width: calc(200px * var(--scale));
	height: auto;
	margin: calc(10px * var(--scale)) auto;
}

.sc-background {
	position: relative;
	height: calc(100px * var(--scale));
	margin-bottom: 10px;
	background-color: rgb(20, 21, 38);
	border-radius:
		calc(150px * var(--scale))
		calc(150px * var(--scale))
		0 0;
	overflow: hidden;
	text-align: center;
}

.sc-mask {
	position: absolute;
	top: calc(20px * var(--scale));
	right: calc(20px * var(--scale));
	left: calc(20px * var(--scale));
	height: calc(80px * var(--scale));
	background-color: rgb(20, 21, 38);
	border-radius:
		calc(150px * var(--scale))
		calc(150px * var(--scale))
		0 0;
}

.sc-percentage {
	position: absolute;
	top: calc(100px * var(--scale));
	left: -200%;
	width: 400%;
	height: 400%;
	margin-left: calc(100px * var(--scale));
	background-color: #00aeef;
}

.sc-percentage {
	transform: rotate(var(--angle));
	transform-origin: top center;
}

.sc-value {
	position: absolute;
	top: 40%;
	left: 0;
	width: 100%;
	font-size: calc(46px * var(--scale));
	font-weight: 700;
}
